vercel*
tox.ini
Makefile
README.md
Dockerfile
docker-compose.yml
venv
requirements.txt
.testenv
.flaskenv_example
.gitignore
.dockerignore
.git
backup.py
dist.tar.xz
backup-postgres-advokato
backup-static-advokato
