<hr>
<details>
    <summary><b>Можна використовувати HTML теги для форматування тексту.</b></summary>
    <ul>
        <li>
            <p style="display: inline; margin-left: 20px;">&lt;p&gt;Абзац тексту&lt;/p&gt;</p>
        </li>
        <li style="text-align: center">&lt;center&gt;текст по центру&lt;/center&gt;</li>
        <li>&lt;strong&gt;<strong>жирний</strong>&lt;/strong&gt; &lt;em&gt;<em>курсивний</em>&lt;/em&gt;
            &lt;ins&gt;<ins>підкреслений</ins>&lt;/ins&gt;
            &lt;del&gt;<del>закреслений</del>&lt;/del&gt;</li>
        <li>&lt;br&gt;перехід на новий рядок(закривати його не потрібно)</li>
        <li>Ненумерований список<br>
            <ul>&lt;ul&gt;<li>&lt;li&gt;перший елемент&lt;/li&gt;</li>
                <li>&lt;li&gt;другий елемент&lt;/li&gt;<br>&lt;/ul&gt;</li>
            </ul>
        </li>
        <li>Нумерований список<br>
            <ol>&lt;ol&gt;<li>&lt;li&gt;перший елемент&lt;/li&gt;</li>
                <li>&lt;li&gt;другий елемент&lt;/li&gt;<br>&lt;/ol&gt;</li>
            </ol>
        </li>
    </ul>
    <h6><strong>Теги для форматування можна комбінувати:</strong></h6>
    <p>&lt;p&gt;&lt;strong&gt;<strong>Перший абзац тексту жирним</strong>&lt;/strong&gt; та &lt;em&gt;<em>курсивом</em>&lt;/em&gt;. Перед списками обов'язково закриваємо тег абзацу.
        <br>&lt;br&gt;Новий рядок. Закриваємо тег абзацу&lt;/p&gt;
    </p>
    <ul>&lt;ul&gt;Заголовок ненумерованого списку(текст необов'язковий)
        <li>&lt;li&gt;перший &lt;strong&gt;<strong>елемент жирним</strong>&lt;/strong&gt;&lt;/li&gt;</li>
        <li>&lt;li&gt;другий &lt;em&gt;<em>елемент курсивом</em>&lt;/em&gt;&lt;/li&gt;
            <br> закриваємо тег списку &lt;/ul&gt;
        </li>
    </ul>
    <br>&lt;br&gt; (пропустимо рядок між cписком та абзацом)
    <p>&lt;p&gt;&lt;Другий абзац тексту. Текст &lt;strong&gt;<strong>обов'язково</strong>&lt;/strong&gt; з обох боків має огортатися тегами абзацу(&lt;p&gt) або тегами списку(&lt;/ul(або ol)&lt;/li&gt;). Якщо вказати текст без тегів то форматування може бути некоректним.&lt;/p&gt;</p>
</details>
<hr>
