{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
  <div>
    {% if current_user.is_authenticated %}
    <style>
      body {
        background-image: url('/static/interface/back_index.jpeg');
        background-size: 100%;
        /* background-position: 0% 12%; */
        background-position: center;
        background-repeat: repeat;
      }
      .bg-dark {
        border: solid 1px rgb(89, 65, 6);
        border-top: 0px;
      }
    </style>
    {% else %}
    <form method="POST" action="" style="text-align: center; margin-top: 50px">
      {{ form.hidden_tag() if form.hidden_tag }}
      {% for f in form if f.type != 'CSRFTokenField' %}
      {% if f.errors %}
      <div class="list-group">
        {% for e in f.errors %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">{{ e }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <div class="form-group" >
        {{ f.label }}
        {% if f.name == 'login' %}
          {{ f(placeholder="username") }}
        {% elif f.name == 'password' %}
          {{ f(placeholder="password") }}
        {% else %}
          {{ f }}
        {% endif %}
      </div>
      {% endfor %}
      <button class="btn btn-dark" type="submit">Увійти</button>
    </form>
    {{ link | safe }}
    {% endif %}
  </div>
</div>
{% endblock body %}