{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<form method="POST" action="" style="text-align: center; margin-top: 50px">
    {% for f in form%}
    <div class="form-group admin_auth">
        {{ f(placeholder=f.label.text)}}
    </div>
    {% endfor %}
    <button class="btn btn-dark" type="submit">{% if form.email %} Відправити {% elif form.password %} Зберегти {% endif %} </button>
    <br>
    <br>
    <button class="btn btn-dark" type="button"><a href="{{ self.base_url }}/admin">На головну </a></button>
</form>
{% endblock body %}