:root {
    --site-background: #c9d1c8;
    --header-background: #04202c;
    --text-color: #ffffff;
    --table-border: #04202c;
    --table-header-background: #304044;
    --second-column-elements: #04202c;
    --button: #04202c;
    --button-hower: #304044;
    --dropdown-menu-background: #04202c;
    --dropdown-menu-active: #304044;
    --modal-footer-header-body: #04202c;
    --form-background: #c9d1c8;
    --table-background: #5b7065;
    --table-background-hower: #5b7065;
    --table-text-hower: #dbdbdf;
    --dropdown-border:#ffffff;
    --button-save: #158000;
    --button-exit: #c20000;
    --black-borders: #000000;
    --input-form-background: #aab4af;
  }
  @font-face {
      font-family: 'header_font';
      src: url('/static/fonts/RussoOne-Regular.ttf') format('truetype');
  }  
  @font-face {
    font-family: 'desc_font';
    src: url('/static/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'table_font';
    src: url('/static/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  }
/* Фон сайта и хедера */
  body {
    background-image: url(/static/interface/table_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-color: var(--site-background);
    width: 100%;
    margin: 0;
  }
  .select2-search-choice {
    color: black!important;
    background: rgb(255, 218, 218)!important;
    border-color: #575757!important;
  }
  .container{
    max-width: 90%;
  }
  .bg-dark {
    background-color: var(--header-background )!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'header_font', sans-serif;
    text-transform: uppercase;
  }
  /* Table styles */
  .table {
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    background-color: var(--site-background);
    color: var(--text-color);
    border: none;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--table-border);
  }
  th {
    background-color: var(--table-header-background);
    color: var(--text-color);
    text-align: center;
    font-family: 'table_font', sans-serif;
    font-size: 18px;
    border: 2px solid var(--table-border);
  }
  td {
    font-family: 'desc_font', sans-serif;
    border: none;
    background-color: var(--table-background);
  }
  .table-bordered td,
  .table-bordered th {
    border: 2px solid var(--table-border);
  }
  .table tbody td a {
    border-bottom-color: #ff060600;
  }
  .table tbody td a:hover {
    border-bottom-color: var(--text-color);
  }
  tr:hover td {
    background-color: var(--table-background);
    color: var(--table-text-hower);
  }
  .fa-eye:before {
    color: var(--second-column-elements);
    font: normal normal normal 18px/1 FontAwesome;
  }
  .fa-pencil:before {
    color: var(--second-column-elements);
    font: normal normal normal 18px/1 FontAwesome;
  }
  .fa-trash:before {
    color: var(--second-column-elements);
    font: normal normal normal 18px/1 FontAwesome;
  }
  td:not(.first-column):not(.second-column), th:not(.first-column):not(.second-column) {
    max-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  /* Button styles */
  .btn {
    background-color: var(--button);
    color:var(--text-color);
  }
  .btn-secondary {
    background-color: var(--button);
    border-color: var(--button);
    color: var(--text-color);
    font-weight: bold;
    padding: 8px 16px;
  }
  .btn-secondary:hover {
    background-color: var(--button-hower);
    border-color: var(--dropdown-border);
    color: var(--text-color);
  }
  .btn-primary {
    background-color: var(--table-background);
    border-color: var(--table-border);
    color: var(--text-color);
    font-weight: bold;
  }
  .btn-primary:hover {
    background-color: var(--button-save);
    border-color: var(--black-borders);
    color: var(--text-color);
  }
  .btn-danger {
    color: var(--text-color);
    background-color: var(--button);
    border-color: var(--black-borders);
  }
  .btn-danger:hover {
    color: var(--text-color);
    background-color: var(--button-exit);
    border-color: var(--black-borders);
  }
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: var(--text-color);
    background-color: #545b6200;
    border-color: #4e555b00;
  }
  .my-details-button {
    margin-top: 5px;
    background-color: #1e1e2600;
    color: var(--text-color);
  }
  .my-details-button:hover {
    background-color: #27365500;
    color: var(--text-color);
    border-color: var(--black-borders);
  }
  .btn-dark {
    border-color: var(--site-background);
  }
  .btn-dark:hover {
    color: var(--text-color);
    background-color: var(--button-hower);
    border-color: var(--dropdown-border);
}
.btn-dark.focus, .btn-dark:focus {
  box-shadow: none;
}
  /* modal window */
  .modal-body {
    background-color: var(--modal-footer-header-body);
    color: var(--text-color);
  }
  .modal-header {
    background-color: var(--modal-footer-header-body);
    color: var(--text-color);
    text-align: center;
    border-bottom: 1px solid #0080ff00;
  }
  .modal-content {
    background-color: var(--form-background);
  }
  .modal-header .close {
    color: var(--button-exit);
  }
  .modal-footer {
    border-color: var(--modal-footer-header-body);
    background-color: var(--modal-footer-header-body);
  }
  .modal-footer>:not(:first-child) {
    background-color: var(--button-exit);
    border-color: var(--dropdown-border);
  }
  .modal-footer>:not(:last-child) {
    background-color: var(--button-save);
    border-color:  var(--dropdown-border);
  }
  .fa_filter_container {
    display: none;
  }

  /* dropdown menu */
  .dropdown-item.active, .dropdown-item:active {
    background-color: var(--button-hower);
    color: var(--text-color);
  }
  .dropdown-item, .dropdown-item:active {
    background-color: var(--dropdown-menu-background);
    color: var(--text-color);
    font-family: "table_font";
    font-style: normal;
  }
  .dropdown-menu {
    background-color: var(--dropdown-menu-background);
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--site-background);
    border: solid 2px var(--dropdown-menu-background);
  }
  .show>.btn-secondary.dropdown-toggle:focus {
    display: none;
  }

  /* links */
  a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
  }
  a:hover {
    color: var(--text-color);
    text-decoration: none;
  }
  .text-muted {
    color: var(--text-color);
  }
  /* navigations */
  .breadcrumb {
    background-color: var(--button);
  }
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 5px;
}
  .nav-tabs .nav-link {
    background-color: var(--button);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-right: 2px;
  }
  .nav-tabs {
    border-collapse: separate;
    border-bottom: none;
    margin-bottom: 3px;
    font-family: "table_font";
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-family: "table_font";
    color: var(--text-color);
    background-color: var(--button);
    border-color: #dee2e600 #dee2e600 #573b3b00;
  }
  .nav-tabs .dropdown-menu {
    background-color: var(--dropdown-menu-background);
    border-color: var(--dropdown-border);
    border-radius: 0.25rem;
    margin-top: 5px;
  }
  .navbar-nav .dropdown-menu {
    border-color: var(--dropdown-border);
  }
  .form-control {
    height: calc(1.5em + .75rem + 6px);
    background-color: white;
    border: 1px solid var(--table-border);
  }
  .form-control {
    size: 20%;
    color: black;
  }
  .my-details-window {
    background-color: var(--table-header-background);
    color: var(--text-color);
    border: 2px solid var(--table-border);
    font-size: 14px;
    margin-top: 5px;
  }
  .page-item.active .page-link {
    color: var(--text-color);
    background-color: var(--table-header-background);
    border-color: var(--header-background);
  }
  .page-link {
    color: var(--header-background);
  }
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  body{
    font-family: 'Raleway', sans-serif;
  }
  .list-choice{
    width:300px;
    margin:1em auto;
    position: absolute;
    cursor: pointer;  
    left: 50px;
  }
  .list-choice input[type="submit"]{
    position:absolute;
    left:-9999px;
  }
  
  .list-choice-title {
  width: 300px;
  display: block;
  background: var(--header-background);
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #FFF;
  text-shadow: 0 1px 0 #CACACA;
  border-radius: 0.2em;
  }
  .list-choice:hover .list-choice-title {
  border-radius:0.2em 0.2em 0 0;
  }
  .list-choice-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
  }
  .list-choice input[type="submit"] + span {
  color: #FFF;
  background: var(--table-background);
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 300px;
  }
  .list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 3.1em;
  box-sizing: border-box;
  width: 300px;
  overflow: hidden;
  max-height: 0;
  transition: all 150ms ease;
  }
  .list-choice:hover .list-choice-objects  input[type="submit"] + span {
  position: relative;
  top: 0;
  transition: all 150ms ease-in-out;
  }
  .list-choice:hover input[type="submit"] + span:hover {
  background:var(--table-header-background);
  }
  .list-choice:hover input[type="submit"]:checked + span:hover {
  background:var(--header-background);
  }
  .list-choice input[type="submit"]:checked + span {
  background: var(--header-background);
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
  }
  .list-choice:hover input[type="submit"]:checked + span {
  border-radius: 0;
  }
  .list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="submit"]:checked + span{
    border-radius:0 0 0.2em 0.2em;
  }
  
  .list-choice:hover .list-choice-objects {
  max-height: 540px;
  }
